html{
    font-family: Arial, Helvetica, sans-serif;
}


.banner{
    background-color: rgb(34, 168, 235);
    height: 150px;
    background-image: url(../img/img/pattern.png);
    background-repeat: repeat;
    margin: auto;
}

.logo{
  
}

/* .box-main{
    background-color: red;
    widht: 80%;

} */

.anchor{
    color: aqua;

}
.didascalia-foto{
    font-size: small;
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

.colonna-1{
    width: 25%;
}

.colonna-2{
    width: 25%;
}

.colonna-3{
    width: 50%;
}

th{
    background-color: lightskyblue;
}

.celeste{
    background-color: lightblue;
}

.testo-immagine-monitor{
    
}